<h1>Submit Your New Recipe!</h1>
<form method="post" action="/recipes">
<h6>Name: </h6><input type="text" name="name" id="name">
<h6>Ingredients: </h6><input type="text" name="ingredients" id="ingredients">
<h6>Cook Time:</h6><input type="text" name="cook_time" id="cook_time">
<br>
<input type="submit" value="Submit">
</form>
